!!!
%html(lang='en')
  %head
    %title Order Hunter
    %link{ :rel => 'stylesheet', :href => 'style.css' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' }
    %meta{ :name => "viewport",  :content => "width=device-width, initial-scale=1.0" }
  %body
    .container
      %h1 Order Hunter
      =yield
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    %script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
